<!DOCTYPE HTML>
<html>
    <head>
        <title>Select A Crossword Puzzle</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>Pick a cross word puzzle</td>
                </tr>
                {% for week in weeks %}
                    <tr>
                        <td><a href="/crossword/{{ week }}" class="btn btn-lg btn-primary">Week {{ week }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
